
<div class="event">
  <h3><%= link_to( event.name , event_path(event)  )  %></h3>
  <p>Date: <%= event.date %></p>
  <p>City: <%= event.city %></p>
  <p>capacity is <%= event.capacity %></p>
  <p><%= link_to("Edit", edit_event_path(event) ) %> | <%= link_to( "Delete" , event_path(event) , {method: :delete, data: { confirm: "Are you sure you want to delete the event '#{event.name}'? This cannot be undone!"} }  ) %></p>
</div>
